<main class="mt-5 pt-5">

<div class="row">
  <div class="col-12 text-center">
    <h4><strong>Usage Instructions</strong></h4>
    <p class="text-justified">
      Simply click on a location on the map to see the average annual 
      air quality index and average precipitation for that place. Note 
      that air quiality index goes for 1 - 5, with 5 being the worst.
    </p>
  </div>
    <div class="col-md-12 col-lg-6">
      <app-map (locationChange)="handleLocationChange($event)"></app-map>
    </div>
    <div class="col-md-12 col-lg-6">
      <pollution-chart [airQuality]="aq" [rain]="rain"></pollution-chart>
    </div>
</div>
</main>