<main class="mt-5 pt-5">
    <div class="container">
        <!--Section: Content-->
        <section>
        <div class="row">
            <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="https://cdn.pixabay.com/photo/2019/08/21/19/26/rain-4421893__480.jpg" class="img-fluid" />

            </div>
            </div>

            <div class="col-md-6 gx-5 mb-4">
            <h4><strong>Fair and Balanced Weather Data</strong></h4>
            <p class="text-muted">
                Extreme weather events including a heavy rain and the snow are known to have 
                negative impacts on the traffic flow and on the air quality in turn. Rainfall 
                however has a moderate effect of washing the pollution in the air as well. 
                This application explores historical data to determine if there really is any 
                relationship between air quality and the quiantity of rainfall.
            </p>
            <p><strong>Impact of Human Activity</strong></p>
            <p class="text-muted">
                Living in a period of strong impact of human activity on the environment and 
                climatic variations, it is reasonable to ask whether the distribution of rainfall 
                between lowland and mountain is stable or not. To this end, rainfall data has been 
                analyzed from around the world.
            </p>
            </div>
        </div>
        </section>
        <!--Section: Content-->

        <hr class="my-5" />

        <!--Section: Content-->
        <section class="text-center">
        <h4 class="mb-5"><strong>How is this made?</strong></h4>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                    src="https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/777588/top-18-most-common-angularjs-developer-mistakes-41f9ad303a51db70e4a5204e101e7414.png"
                    class="img-fluid"
                />
                <a href="https://angular.io/">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">Angular JS</h5>
                <p class="card-text">
                    This site is built as a single-page web application in Angular JS. 
                    Services and property binding were used to get data from external 
                    sources and pass them within the application.
                </p>
                <a href="https://angular.io/" class="btn btn-primary">Read More</a>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                    src="https://mdbcdn.b-cdn.net/img/Marketing/mdb-press-pack/mdb-main.jpg"
                    class="img-fluid"
                />
                <a href="https://mdbootstrap.com/">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">MD Bootstrap</h5>
                <p class="card-text">
                    MDBootstrap was used as the front-end library to style all 
                    aspects of this application. The starter templates provided 
                    by this library allowed for quick and painless setup of all containers.
                </p>
                <a href="https://mdbootstrap.com/" class="btn btn-primary">Read More</a>
                </div>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                    src="https://www.browserstack.com/blog/content/images/2020/08/API-Blog-Hero-banner-@2x.png"
                    class="img-fluid"
                />
                <a href="https://developers.google.com/maps">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                <h5 class="card-title">External Data API's</h5>
                <p class="card-text">
                    The weather data was imported from 
                    <a href="https://www.worldweatheronline.com/">World Weather Online</a>.
                    Air quality data was provided by 
                    <a href="https://openweathermap.org/">Open Weather</a>'s historical database'.
                    Maps are displayed cuertesy of 
                    <a href="https://developers.google.com/maps">Google Maps</a>.
                </p>
                <a href="https://developers.google.com/maps" class="btn btn-primary">Read More</a>
                </div>
            </div>
            </div>
        </div>
        </section>
        <!--Section: Content-->
    </div>
</main>